#grid {
    display: grid;
    height: 10px;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 15px;
}

#info {
    color: darkmagenta;
    font-size: 30px;
    text-align: center;

}

#infoDescription {
    font-size: 12px;
    color: grey;
    text-align: left;
}